<template>
    <div>
        <div class="text-center">
            <h4>Turno jugador: {{ turn ? player : 'Jugador 2' }}</h4>
            <h6>id Partida: <span class="fw-bold">{{ game }}</span></h6>
        </div>
        <div class="d-grid">
            <div :id="'box-'+index" class="border-dark" v-for="(box, index) in boxes" :key="index">
                <button
                    class="btn btn-lg w-100 h-100"
                    @click="changeValue(index)"
                    :disabled="box !== null"
                >{{ box !== null ? (box ? 'X' : 'O') : ' ' }}</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        player: String,
        boxes: Array,
        game: String,
        turn: Boolean,
        number: Number
    },
    methods: {
        /** 
         * Cambia el valor de la casilla seleccionada.
         * 
         * @param string box
         * 
         * @returns void
        */
        changeValue(box) {
            this.$emit('change-box-value-and-turn', parseInt(box));
            axios.post(`/games/update/${this.number}`, {box: `box_${box + 1}`, value: this.turn})
                .then(({ data }) => {
                    if (data.winner !== null) {
                        this.$emit('change-winner', data.winner);
                    } else if (this.validateBoxes()) {
                        this.$emit('tie');
                    }
                });
        },
        /**
         * Verifica si alguna de las casillas continua vacia.
         * 
         * @returns void
        */
        validateBoxes() {
            return this.boxes.findIndex((box) => box === null) == -1 ? true : false;
        }
    },
    mounted() {
        setTimeout(() => {
            if (this.boxes.findIndex((box) => box === null) == -1) {
                this.$emit('tie');
            }
        }, 1000);
    }
}
</script>

<style scoped>
.d-grid {
    grid-template-columns: repeat(3, 1fr);
}
#box-0,
#box-1,
#box-3,
#box-4 {
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
#box-2,
#box-5 {
    border-bottom: 1px solid #dee2e6;
}
#box-6,
#box-7 {
    border-right: 1px solid #dee2e6;
}
.border-dark {
    min-width: 100px;
    min-height: 50px;
}
</style>