<template>
    <div class="container vh-100 vw-100 d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <h1 class="text-center text-uppercase fw-bold mb-5 py-5">#Tic-Tac-Toe</h1>
            <div class="card">
                <div class="card-body">
                    <div class="row" v-if="showOption == 0">
                        <button 
                            class="col-md-5 btn btn-primary mx-auto text-uppercase"
                            @click="changeOption(1)"
                        >Nueva Partida</button>
                        <button 
                            class="col-md-5 btn btn-primary mx-auto text-uppercase"
                            @click="changeOption(2)"
                        >Unirme a una partida</button>
                    </div>
                    <sign-up-component v-else-if="showOption == 1" @change-player-name="setPlayerName"/>
                    <join-component v-else-if="showOption == 2" @change-game-data="setGamedata"/>
                    <game-component
                        v-else-if="showOption == 3"
                        :player="game.playerName"
                        :boxes="game.boxes"
                        :game="game.gameId"
                        :number="game.gameNumber"
                        :turn="turn"
                        @change-box-value-and-turn="changeBoxValueAndTurn"
                        @change-winner="showWinner"
                        @tie="changeTie"
                    />
                    <winner-component
                        v-else-if="showOption == 4"
                        :player="game.playerName"
                        :winner="game.winner"
                        :number="game.gameNumber"
                        :tie="game.tie"
                        @reset-game="resetGame"
                    />
                </div>
            </div>
        </div>
        <div class="row ">
        </div>
    </div>
</template>

<script>
import GameComponent from './GameComponent.vue'
import JoinComponent from './JoinComponent.vue'
import SignUpComponent from './SignUpComponent.vue'
import WinnerComponent from './WinnerComponent.vue'
    export default {
        components: { SignUpComponent, JoinComponent, GameComponent, WinnerComponent },
        data() {
                return {
                showOption: 0,
                turn: true,
                game: {
                    playerName: '',
                    gameNumber: 0,
                    gameId: '',
                    boxes: [null, null, null, null, null, null, null, null, null],
                    winner: null,
                    player_id: 0,
                    tie: false
                },
            }
        },
        methods: {
            /**
             * Se pasan datos del jugador a la vista y se crea el juego.
             * 
             * @param Object player
             * 
             * @returns void
            */
            setPlayerName (player) {
                this.game.playerName = player.player;
                this.game.player_id = player.id;
                this.createGame();
                this.changeOption(3)
            },
            /**
             * Se pasan datos del juego a la vista.
             * 
             * @param Object game
             * 
             * @returns void
            */
            setGamedata ({game}) {
                this.game.winner = game.winner;
                this.game.gameId = game.game;
                this.game.gameNumber = game.id;
                this.game.player_id = game.player_id;
                this.game.playerName = game.playerName;
                this.changeTurn(Boolean(game.turn))

                this.game.boxes.forEach((box, index) => {
                    if (game[`box_${index + 1}`] !== null) {
                        box = Boolean(parseInt(game[`box_${ index + 1 }`]));
                    }
                    this.game.boxes[index] = box;
                });

                if (game.winner === null) {
                    this.changeOption(3)
                } else {
                    this.showWinner(game.winner);
                }
            },
            /**
             * Cambia el valor de las casillas y el turno.
             * 
             * @param Number box
             * 
             * @returns void
            */
            changeBoxValueAndTurn(box) {
                this.game.boxes.splice(box, 1, this.turn);
                this.changeTurn(!this.turn);
            },
            /**
             * Cambia el valor del ganador y cambia la vista.
             * 
             * @param Boolean winner
             * 
             * @returns void
            */
            showWinner(winner) {
                this.changeOption(4)
                this.game.winner = winner;
            },
            /**
             * Envia y trae datos para crear una partida.
             * 
             * @returns void
            */
            createGame() {
                axios.post('/games/store', { player_id: this.game.player_id, turn: this.turn })
                    .then(({ data }) => {
                        this.game.gameNumber = data.id;
                        this.game.gameId = data.game;
                        this.game.boxes = [null, null, null, null, null, null, null, null, null];
                        this.game.winner = null;
                        this.changeTie(false);
                    });
            },
            /**
             * Reinicia una partida.
             * 
             * @returns void
            */
            resetGame() {
                this.createGame();
                this.changeOption(3)
            },
            /**
             * Cambia la vista.
             * 
             * @returns void
            */
            changeOption(option) {
                this.showOption = option;
            },
            /**
             * Cambia el turno
             * 
             * @void
            */
            changeTurn(turn) {
                this.turn = turn;
            },
            /**
             * Cambia el valor del empate.
             * 
             * @param Boolean tie
             * 
             * @returns void
            */
            changeTie(tie = true) {
                this.game.tie = tie;
                if (tie) {
                    this.changeOption(4);
                }
            }
        }
    }
</script>
