<template>
  <div class="row">
        <div class="mb-3">
            <label for="" class="form-label">Ingrese Id de la partida</label>
            <input type="text" class="form-control" :class="{'border-danger': hasError}" v-model="game">
            <div class="text-danger" :class="{'d-block': hasError, 'd-none': ! hasError}">
                Id de partida invalido.
            </div>
        </div>
        <div class="text-center">
            <button class="text-uppercase btn btn-primary" @click="seach">Unirme</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            game: '',
            hasError: false
        }
    },
    methods: {
        /**
         * Busca la partida solicitada.
         * 
         * @returns void
        */
        seach() {
            const game = this.game;
            axios.post('/games/edit', { game })
                .then(({ data }) => {
                    this.hasError = data.hasError;
                    if (data.hasError) {
                        this.game = '';
                    } else {
                        this.$emit('change-game-data', data);
                    }
                });
        }
    }
}
</script>