<template>
    <div class="row">
        <div class="mb-3">
            <label for="" class="form-label">Nombre de Ususario:</label>
            <input type="text" class="form-control" v-model="player">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Nombre de Invitado:</label>
            <div class="form-control">Jugador 2</div>
        </div>
        <div class="text-center">
            <button class="text-uppercase btn btn-primary" @click="save()">Guardar</button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            player: "Jugador 1"
        }
    },
    methods: {
        /**
         * Guarda los datos del jugador.
         * 
         * @returns void
        */
        save () {
            const player = this.player;
            axios.post('/player/store', { player })
                .then(({data}) => {
                    this.$emit('change-player-name', data)
                });
        }
    }
}
</script>