<template>
    <div>
        <div class="text-center mb-4" v-if="!tie">
            <h4>¡Ganador: {{ winner ? player : 'Jugador 2' }}!</h4>
        </div>
        <div class="text-center mb-4" v-else>
            <h4>¡Empate!</h4>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" @click="resetGame">Reiniciar Partida</button>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        player: String,
        winner: Boolean,
        number: Number,
        tie: Boolean
    },
    methods: {
        /**
         * Dispara evento para reiniciar la partida.
         * 
         * @returns void
        */
        resetGame() {
            this.$emit('reset-game');
        }
    },
}
</script>